:host {

  ion-content {
    --background: #fff url('../../../assets/img/waben_180.svg') no-repeat 100% 0 / 50%;

    section.logo {
      width: 35%;
      margin: 14px;
    }
  }

  ion-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 24px;
  }
}
