<ion-tabs>

  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button tab="timeline">
      <ion-icon name="home"></ion-icon>
      <ion-label>Timeline</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favoriten</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="highlights">
      <ion-icon src="/assets/icon/star.svg"></ion-icon>
      <ion-label>Highlights</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="photos"></ion-icon>
      <ion-label>Galerie</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="brush"></ion-icon>
      <ion-label>Interessen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
