:host {

  ion-content {
    --background: #fff url('../../../assets/img/waben_180.svg') no-repeat 100% 0 / 50%;

    section.logo {
      width: 35%;
      margin: 14px;
    }

    section.menu-wrapper {
      display: flex;
      flex-grow: 1;

      svg {
        width: 55%;
        margin: auto;
      }
    }

    section.info {
      margin: 26px;
    }
  }
}
