<ion-content>
  <section class="logo">
    <img src="assets/img/logo.png"/>
  </section>

  <h1>Eintrag erstellen</h1>

  <section *ngIf="params$ | async as params">
    <p><b>Inhaltstyp:</b> {{ getFancyTypeName($any(params.get('type'))) }}</p>
  </section>
  <app-child-selector (selected)="onChilSelected($event)"></app-child-selector>
  <div class="text-item">
    <ion-label position="floating">Text / Beschreibung</ion-label>
    <ion-input clearInput
               [(ngModel)]="text"></ion-input>
  </div>
  <div class="sentiment-item">
    <div>
      <ion-label>Stimmung</ion-label>
    </div>
    <div class="sentiment-wrapper">
      <ion-icon src="assets/icon/frown.svg"
                [color]="sentiment === 0 ? 'primary' : 'secondary'"
                (click)="setSentiment(0)">
      </ion-icon>
      <ion-icon src="assets/icon/meh.svg"
                [color]="sentiment === 1 ? 'primary' : 'secondary'"
                (click)="setSentiment(1)">
      </ion-icon>
      <ion-icon src="assets/icon/smile.svg"
                [color]="sentiment === 2 ? 'primary' : 'secondary'"
                (click)="setSentiment(2)">
      </ion-icon>
    </div>
  </div>

  <div *ngIf="imageDataUrl">
    <ion-item>
      <ion-label>Bild</ion-label>
    </ion-item>
    <img src="{{imageDataUrl}}"
         alt=""/>
  </div>

  <ion-button expand="block"
              (click)="send()">Senden
  </ion-button>
</ion-content>
